 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Game junkie and enthusiastist, math victim and lover, programming newbie and learner. While travelling here at earth, I found video games and couldn't leave them any more. C++ is the best language, I'll use C++ till the very distant future. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>I'm Jie Meng. From all perspective and in any aspects, I'm a total noob. But I'm not refrained from trying and experiencing. Humbled by great work made by great people, what I could only work harder and harder to not fall behind.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Check Current Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
